

<nav class="navbar  px-4">

  <div class="navbar-right">
    <div class="search-container">
      <input type="text" placeholder="اختر..." />
      <button class="search-btn">
        <i class="fas fa-search"></i>
      </button>
    </div>

  </div>

 <section class="d-flex">




  <div class="navbar-center mx-1">
    <span><div class="alert">
      <i class="fa-regular fa-bell"></i>
    </div></span>
  </div>
<!--  -->


 <div class="navbar-left  border bordr-2 px-3 mx-2 py-2 rounded-2">
  <div class="dropdown">
    <span>language</span>
    <button class="dropbtn px-2">
      <i class="fas fa-language"></i>

    </button>
    
    <div class="dropdown-content">
      <a (click)="onChangeLang('en')" href="#">EN</a>
      <a (click)="onChangeLang('er')" href="#">AR</a>
    </div>
  </div>









</div> 

<!--  -->

  <div class="navbar-left  border bordr-2 px-3 py-2 rounded-2">
      <div class="dropdown">
        <span>home</span>
        <button class="dropbtn px-2">
          <i class="fas fa-chevron-down"></i>
        </button>
        
        <div class="dropdown-content">
          <a href="#">Option 1</a>
          <a href="#">Option 2</a>
          <a href="#">Option 3</a>
        </div>
      </div>


    






    </div>
    
 
  
  </section>

  </nav>
  
